// ferjgar.rocks awesome styles!

.masthead {
  margin: 0;
  display: table;
  width: 100%;

  img {
    margin: 0;
    height: 100px;
  }

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}
